/* Nadpisy CSS - Headings */
h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

h4 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 12px;
  color: #444;
}

h5 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
  color: #555;
}

h3 span[data-message],
h4[data-message],
h5[data-message] {
  cursor: help;
  border-bottom: 1px dotted #999;
}
